/*-------------------------------------------------------------------------------------------------------------------------------------------------------
    Set the styling for background color of the body, paragraph indentation, color for the x and y axis and the text font-style and weight
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
  

/*-------------------------------------------------------------------------------------------------------------------------------------------------------
    Setting the body color
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
body{
    background-color: #E6E6E6;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------
    Setting the indentation for <p> tags
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
p{
    text-indent: 40px;
}

/*Add .axis path and .axis line commans as described in the book */
/*-------------------------------------------------------------------------------------------------------------------------------------------------------
    Setting the color , shape-rendering and font style, size and weight for axis text
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.axis path,
.axis line {
    stroke: teal;
    shape-rendering: crispEdges;
}
.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}